.img-md {
  height: 80px;
  width: 80px;
}

.flats-banner {
  height: 50vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

.home-flats {
  background-color: white;
}
